.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.iconSeparator {
  width: 30vw;

  margin-top: 10px;
  border-color: var(--navGrey);
}
.mainContent a {
  text-decoration: none;
}
.descrbeText {
  list-style-type: decimal;
  padding: 5px;
}
.descrbeText {
  display: grid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 5vw;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 160px;
  color: var(--textGrey);
}
.descrbeText ul {
  padding-left: 30px;
}
.columns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15%;
  padding-top: 20px;
}
@media only screen and (max-width: 1640px) {
  .columns {
    gap: 5%;
  }
}
@media only screen and (max-width: 1350px) {
  .descrbeText {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container {
    width: 90%;
  }
  .columns {
    gap: 2%;
  }
}
@media only screen and (max-width: 1000px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
}
.icoImage {
  width: 60%;
}
.menuIconContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.firstColumn,
.secondColumn {
  width: fit-content;
  min-width: 40%;
}
